@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>CSV Bulk Upload</h2>
@{ using (Html.BeginForm("UploadFile", "UploadCSV", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="FileUpload" id="FileUpload" />
        <br />
        <br />
        <input type="submit" name="Submit" id="Submit" value="Upload" />
    }
}

<p>@{ Html.Encode(ViewData["Feedback"]);} </p>

<div>
    <table id="">

        @if (ViewBag.Data != null)
        {

        }
        <thead></thead>
    </table>
</div>